# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/

# Downloaded videos and clips
downloads/
clips/

# Logs
*.log

# API keys and secrets
config_prod.py

# Processed videos
processed_videos.json